/*main*/
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header:#E579E6;
    --img: yellow;
    --sidebar:blue;
    --central-bar:red;
    --footer:pink;
    --logo:green;
    --nav:orange;
    --container:purple;
    --title:gray;
}

.box_logo:after, .container:after{
    content: '';
    display: block;
    clear: both;
}

body{
    margin: 1rem auto;
    width: 1000px;
}

/*header*/
header{
    background-color: var(--header);
    height: 200px;
    padding: 1rem;
}

.logo{
    background-color: var(--logo) ;
    float: left;
    height: 100px;
    width: 300px;
}

nav{
    background-color: var(--nav);
    height: 50px;
    width: 100%;
    float: none;
    margin-top: 1rem;
}


/*img*/
.hero_img{
    background-color: var(--img);
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*container*/

.container{
    background-color: var(--container);
    height: 530px;
}

.title{
    background-color: var(--title);
    height: 100px;
}

.sidebar{
    width: 25%;
    background-color: var(--sidebar);
    height: 400px;
    float: left;

}

.central_bar{
    width: 47%;
    background-color: var(--central-bar);
    margin-left: 15px; 
    margin-right: 15px; 
}

.sidebar, .central_bar{
    margin-top: 15px;
    height: 400px;
    float: left;
}

footer{
    background-color: var(--footer);
    height: 100px;
    margin-top: 1rem;
}